/* General Styling */

html, body {height: 100%; }
body{background:#fff; font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";font-size:16px;}
body {text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
h1,h2,h3,h4,h5{font-weight:600;letter-spacing: .025em;color: #545454;}
p, ul, ol, li, table, address, blockquote, cite {color: #7b818a;font-size:16px;font-family:'Open Sans','Helvetica Neue','Helvetica','Arial','sans-serif'!important;}

/* Backgrounds */

.bg-sm {padding-top: 2.5em; padding-bottom: 2.5em;}
.bg-md {padding-top: 5em; padding-bottom:5em;}

.bg-slanted-img {-webkit-clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%); clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);}
.bg-slanted-img-reverse { -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);}

.bg-img-1 {background: url('../img/bg-img-1.jpg') center center no-repeat fixed;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;box-shadow: inset 10000px 0 0 rgba(53, 37, 8, 0.6);}
.bg-img-2 {background: url('../img/bg-img-2.jpg') center left no-repeat;background-color:#028dc8;box-shadow: inset 10000px 0 0 #053a50a6;}
.bg-img-3 {background: url('../img/bg-img-3.jpg') center center no-repeat fixed;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;box-shadow: inset 10000px 0 0 rgba(53, 37, 8, 0.6);}
.bg-blue {background:#112042; }
.bg-white{background:#fff;}
.bg-grey{background:#F9FBFB;}
.bg-dgrey{background: #f3f3f3;}
.bg-orange {background: #f5be58;}
.btn-xl{padding: .35em .85em!important;font-size:1.45em!important;}

/* Img Filters */
.img-grey{filter:url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale")!important;filter:grayscale(100%)!important;-webkit-filter:grayscale(100%)!important;-moz-filter:grayscale(100%)!important;-ms-filter:grayscale(100%)!important;-o-filter:grayscale(100%)!important;filter:gray!important;}
.img-grey:hover { filter:initial !important; }
.img-shadow {background-color:#fff;/* padding:20px; */border-radius:5px;transition: all .15s ease;box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);}
.img-shadow:hover {color: #e2ffe2; transform: translateY(-1px); box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.15); }

/* Misc Support Classes */
.overflow-hidden { overflow: hidden; }

/* Typography */
.fa-lg,.fa-2x,.fa-3x,.fa-4x,.fa-5x,.fa-6x,.fa-7x,.fa-8x,.fa-9x,.fa-10x{line-height:1.25em!important;} .fa-lg{font-size:1.33333333em!important;} .fa-1x{font-size:1.5em!important;} .fa-2x{font-size:2em!important;} .fa-3x{font-size:3em!important;}.fa-4x{font-size:4em!important;}.fa-5x{font-size:5em!important;}.fa-6x{font-size:6em!important;}.fa-7x{font-size:7em!important;}.fa-8x{font-size:8em!important;}.fa-9x{font-size:9em!important;}.fa-10x{font-size:10em!important;}
.text-spacing{letter-spacing: .025em;}
.font-weight-light {font-weight:300 !important;}
.text-orange {color:#f1b570 ;}
.text-maroon {color:#87212E;}
.text-blue {color:#06acf1;}
.text-white {color:#fff !important;}
.text-white a {color:#f1b570; font-weight:500;}

/* Buttons*/
.btn-wbr {/* line-height: 40px; *//* padding: 0 14px; */box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);background: #f5be58;color: #fff;/* font-size: 15px; */font-weight: 600;text-transform: uppercase;letter-spacing: .025em;transition: all .15s ease;}
.btn-wbr:hover {color: #ffecc5;transform: translateY(-1px);box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);}

/* Headroom CSS */
.header--fixed { position: fixed; z-index: 10; right: 0; left: 0; top: 0px;}
.headroom { transition: transform .25s ease-in-out; }
.headroom--pinned {transform: translateY(0%);background-color: #3563c5;}
.headroom--pinned ul  { transform: translateY(%);}
.headroom--top { transform: translateY(30%); background-color:transparent;}
.headroom--unpinned { transform: translateY(-100%); background-color: #3563c5;}

/* Social Nav Bar */
.topnav-social{overflow:hidden;padding:0 .5em;background-color: #23489a;}
.topnav-social .social{float:right;margin-top:.5em;}
.topnav-social .social a{display:block;float:left;padding: 5px 5px;margin: 0px 5px 5px 0;}
.topnav-social a {color:#fff; }
.topnav-social a:hover{color:#f7c996;background:transparent;}

/* Inner Main Nav */
.inner-main-nav{overflow:hidden;padding:0 .5em;background-color: #3563c5;}
.inner-main-nav a {color:#fff; }
.inner-main-nav a:hover{color:#f7c996;background:transparent;}

/* Nav Bar */
.mainnav li{padding:0 .8em;}
.mainnav li a {color:#fff;}

/* Mobile View Nav Positioning */
#mobilenav {background-color:#3563c5;}

/* Insights Page Nav */
.nav-insights { box-shadow: 0 5px 25px 0 #bfbfbf inset; background: none repeat scroll 0 0 #fffffd; }

/* Hero Image Section */
.hero-section {/*height: 65vh;min-height: 300px;*/background: url('../img/bg-img-hero.jpg') center top no-repeat scroll;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}
.hero-section h1{color:#fff;margin:0;padding:.8em 0;text-shadow:0 0 0.5em rgba(0,0,0,1);font-weight:500;}
.hero-section h1{float: left;background:transparent;margin-top: 2.5em;}

/* Inner Hero Image Section */
.inner-hero-section {background: url('../img/bg-img-hero-inner.jpg') center center no-repeat scroll;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover; box-shadow: inset 10000px 0 0 rgba(53, 37, 8, 0.7);}

/* Inner Hero Image col-xs-* */                            
@media only screen and (max-width:768px) {
    .inner-hero-section h1 {font-size: 3.2vh; }
}


/* Insights Market Section Illustrations */
#market-illustrations { position: absolute; display: -ms-flexbox; display: flex; width: 1287px; left: 45%; margin-top:-100px; margin-left: -644px; transform: scale(.5) rotate(-12deg) translateX(50px); transform-origin: 50% 20%; overflow:hidden;}
#market-illustrations div { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 38px; background: #f3f3f3; box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, .25), 0 2px 6px rgba(0, 21, 64, .14), 0 10px 20px rgba(0, 21, 64, .05);}
#market-illustrations div img { width:94%; height:94%; border-radius:15px;}

/* Insight Event Sections */
.grid-section .grid-section-text { padding: 3rem}
.grid-section .grid-section-img { min-height: 30rem; background-size: cover}
@media (min-width:768px) {
    .grid-section .grid-section-text {
        padding: 7rem
    }
}

/* Content Section Styling */
.overlay {position: absolute;height: 100%;min-height: 35rem;width: 100%;background: url(https://plsadaptive.s3.amazonaws.com/gmedia/externalresizes/panopoly_image_original_2da5e9b4cb22de4816b83bc7e39b2ba7.jpg) center center scroll;background-size:cover;/* opacity: .75; */z-index: -1;}
.masthead {position: relative;overflow: hidden;padding-bottom: 3rem}
.masthead .masthead-bg {position: absolute;top: 0;bottom: 0;right: 0;left: 0;width: 100%;min-height: 35rem;height: 100%;background-color: rgba(8, 172, 241, 0.75);transform: skewY(4deg);transform-origin: bottom right}
@media (min-width:768px) {
    .masthead {
        height: 100%;
        min-height: 0;
        width: 40.5rem;
        padding-bottom: 0
    }
    .masthead .masthead-bg {
        min-height: 0;
        transform: skewX(-8deg);
        transform-origin: top right
    }
    .masthead .masthead-content {
        padding-left: 3rem;
        padding-right: 10rem
    }
    
}




/* Footer  */
footer {margin-top:100px;}

/* Footer Navigation */
.footernav img{height:55px;margin-top:0px;transition:200ms linear;opacity:.7;} 
.footernav img:hover{opacity:1;}
.footernav{height:65px;background:#3564c5;} 
.footernav li a:hover{color:#f7c996;background:transparent;}

/* Mobile View Nav Styling */
#mobilenav {background-color:#3563c5;}
#mobilenav li{padding:0 .8em;}
#mobilenav li a {color:#fff;}
                      
/* Mobile View Nav col-xs-* */                            
@media only screen and (min-width:320px){
    #mobilenav img {width:50px;}
    #mobilenav li{padding:0 0em;}
}



/* col-xs-* */
@media only screen and (min-width :320px){


}

/* col-xs-* */                            
@media only screen and (min-width :480px){

}

@media (min-width:670px) {
    #market-illustrations {

        width: 512px;
        margin-left: 50px;
        top: 285px;
        transform: rotate(-12deg);
        transform-origin: 100% 0; 
    }

    #market-illustrations .whitepaper-1 {
        width: 512px;
        height: 412px;
    }

    #market-illustrations .whitepaper-2 {
    display: none;
    }

}


/* col-sm-* */                            
@media only screen and (min-width :768px){

}

/*  */
@media (min-width:880px) {
    #market-illustrations {
        width: 865px;
        margin-left: -10px;
        top: 50px;
    }
    #market-illustrations .whitepaper-1 {
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin-right: 50px;
    }
    #market-illustrations .whitepaper-2 {
        display: -ms-flexbox;
        display: flex;
        width: 303px;
        height: 553px;
    }

}


/* col-md-* */                            
@media only screen and (min-width :992px){}

/* col-lg-* */
@media only screen and (min-width :1200px){}


@media only screen and (max-width :767px){
    
    #market-illustrations { position: relative; height:220px;  display:none;  }
    
    /* Navigations */
    
    .inner-main-nav, .topnav-social,.topnav-desktop,nav.footernav {display:none;}
    

    
}










