/* General Styling */

html, body {height: 100%; }
body{background:#fff; font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";font-size:16px;}
body {text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
h1,h2,h3,h4,h5{font-weight:600;letter-spacing: .025em;color: #545454;}
p, ul, ol, li, table, address, blockquote, cite {color: #7b818a;font-size:16px;font-family:'Open Sans','Helvetica Neue','Helvetica','Arial','sans-serif'!important;}

/* Backgrounds */

.bg-sm {padding-top: 2.5em; padding-bottom: 2.5em;}
.bg-md {padding-top: 5em; padding-bottom:5em;}

.bg-slanted-img {-webkit-clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%); clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);}
.bg-slanted-img-reverse { -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);}

.bg-img-1 {background: url('../img/bg-img-1.jpg') center center no-repeat fixed;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;box-shadow: inset 10000px 0 0 rgba(53, 37, 8, 0.6);}
.bg-img-2 {background: url('../img/bg-img-2.jpg') center left no-repeat;background-color:#028dc8;box-shadow: inset 10000px 0 0 #053a50a6;}
.bg-img-3 {background: url('../img/bg-img-3.jpg') center center no-repeat fixed;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;box-shadow: inset 10000px 0 0 rgba(53, 37, 8, 0.6);}
.bg-blue {background:#112042; }
.bg-white{background:#fff;}
.bg-grey{background:#F9FBFB;}
.bg-dgrey{background: #f3f3f3;}
.bg-orange {background: #f5be58;}
.btn-xl{padding: .35em .85em!important;font-size:1.45em;}

@media (max-width: 575.98px) { 
    .btn-responsive {font-size: 1.7vh;}
}

/* Img Filters */
.img-grey{filter:url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale")!important;filter:grayscale(100%)!important;-webkit-filter:grayscale(100%)!important;-moz-filter:grayscale(100%)!important;-ms-filter:grayscale(100%)!important;-o-filter:grayscale(100%)!important;filter:gray!important;}
.img-grey:hover { filter:initial !important; }
.img-shadow {background-color:#fff;/* padding:20px; */border-radius:5px;transition: all .15s ease;box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);}
.img-shadow:hover {color: #e2ffe2; transform: translateY(-1px); box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.15); }

/* Misc Support Classes */
.overflow-hidden { overflow: hidden; }

/* Typography */
.fa-lg,.fa-2x,.fa-3x,.fa-4x,.fa-5x,.fa-6x,.fa-7x,.fa-8x,.fa-9x,.fa-10x{line-height:1.25em!important;} .fa-lg{font-size:1.33333333em!important;} .fa-1x{font-size:1.5em!important;} .fa-2x{font-size:2em!important;} .fa-3x{font-size:3em!important;}.fa-4x{font-size:4em!important;}.fa-5x{font-size:5em!important;}.fa-6x{font-size:6em!important;}.fa-7x{font-size:7em!important;}.fa-8x{font-size:8em!important;}.fa-9x{font-size:9em!important;}.fa-10x{font-size:10em!important;}
.text-spacing{letter-spacing: .025em;}
.font-weight-light {font-weight:300 !important;}
.text-orange {color:#f1b570 ;}
.text-maroon {color:#87212E;}
.text-blue {color:#06acf1;}
.text-white a {color:#f1b570; font-weight:500;}

/* Buttons*/
.btn {box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); transition: all .15s ease; letter-spacing: .025em;}
.btn:hover {transform: translateY(-1px);box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);}
.btn-wbr {background: #f5be58;color: #fff;}
.btn-wbr:hover {color: #ffecc5;}
.btn-insights {background-color:#03aeef; color:#fff; } 
.btn-insights:hover {background-color:#03aeef;color: #d9f4ff;}
.btn-connect {background-color:#3b7; color:#fff; } 
.btn-connect:hover {background-color: #25b36c;color: #ccf7e1;} 

/* Headroom Static to Fixed. Used on Insights Pages - CSS */
.header--static { position: inherit; top: 0; width: 100%; z-index:99999;}
.header--static.top { transition: none; transform: translateY(0);}
.header--static.not-top { position: fixed; transform: translateY(-100%);}

/* Headroom Fixed Used on Homepage and every other page besides insights Pages - CSS */
.header--fixed { position: fixed; z-index: 10; right: 0; left: 0; top: 0px;}
.header--fixed.top { transition: none; transform: translateY(20px);}
.header--fixed.not-top { position: fixed; transform: translateY(-100%);background-color:#24479a;}

/* Genereal Headroom Classes */
.header--fixed.slideDown.not-top, .header--static.slideDown.not-top {transition: transform 0.3s linear;transform: translateY(0);}
.header--fixed.slideDown.top, .header--static.slideDown.top {position: fixed;}
.header--fixed.slideUp.not-top, .header--static.slideUp.not-top {transition: transform 0.3s linear;transform: translateY(-100%);}
.header--fixed.slideUp.top, .header--static.slideUp.top {transform: translateY(-100%);position: absolute;}

/* General Nav styling */
a.nav-link {color:#fff;}
a.nav-link:hover {color:#f7c996;}
.nav-link:hover, .nav-link:active { text-decoration:underline ;} 

/* Social Nav Bar */
.topnav-social{padding:0 .5em;background-color: #23489a;}
.topnav-social .nav-item {padding:0 5px;}

@media (max-width: 575.98px) { 
    .topnav-social .nav-link {font-size:.75em; }
    .topnav-social .nav-item {font-size:1.2em; }  
}

/* Inner Main Nav */
.inner-main-nav{padding:0 .5em;background-color: #3563c5;}
.footer-mobi-nav .list-group-item.active , .inner-main-nav .list-group-item.active {background-color:transparent; border:none; }
.footer-mobi-nav .list-group-item.active a , .inner-main-nav .list-group-item.active a {border-bottom:3px solid #07afef;  }

/*Footer Desktop Nav */
.footer-desk-nav img{height:55px;margin-top:0px;transition:200ms linear;opacity:.7;} 
.footer-desk-nav img:hover{opacity:1;}
.footer-desk-nav{height:65px;background:#3564c5;} 

/*Footer Mobile Nav */
.footer-mobi-nav {background-color:#3563c5; bottom:53px; z-index:999999;}
.footer-mobi-nav img {width:50px;}  

@media (max-width: 575.98px) { 
    .footer-mobi-nav img {width:20px;}  
    .footer-mobi-nav ul li a {margin: 0 0; padding: 5px 0; font-size:.8em;}  
}
      
/* Footer Legal Nav */
.footer-legal-nav {background-color:#1a3a7d;}
.footer-legal-nav a { margin:0 2px; font-size:16px; padding:10px 5px;}

@media (max-width: 575.98px) { 
    .footer-legal-nav small span {display:none;}
    .footer-legal-nav a {font-size: 13px; padding:10px 0px; }
    .footer-legal-nav {position:fixed; bottom: 0; width:100%;}
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
    .footer-legal-nav {position:fixed; bottom: 0; width:100%;}
}

/* Insights Page Nav */
.nav-insights { box-shadow: 0 5px 25px 0 #bfbfbf inset; background: none repeat scroll 0 0 #fffffd; }
.navbar-light .navbar-nav .active>.nav-link,  .navbar-light .navbar-nav .nav-link.active  { color: rgb(3, 174, 239); font-weight: bold; }
.navbar-nav .active>.nav-link,  .navbar-nav .nav-link.active { color: #f7c996; font-weight: bold;}

/* Hero Image Section */
.hero-section {/*height: 65vh;min-height: 300px;*/background: url('../img/bg-img-hero.jpg') center top no-repeat scroll;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}
.hero-section h1{color:#fff;margin:0;padding:.8em 0;text-shadow:0 0 0.5em rgba(0,0,0,1);font-weight:500;}
.hero-section h1{float: left;background:transparent;margin-top: 2.5em;}

/* Inner Hero Image Section */
.inner-hero-section {background: url('../img/bg-img-hero-inner.jpg') center center no-repeat scroll;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover; box-shadow: inset 10000px 0 0 rgba(53, 37, 8, 0.7);}

/* Inner Hero Image col-xs-* */                            

@media (max-width: 767.98px) { 
        .inner-hero-section h1 {font-size: 3.2vh; }
}


/* Insights Market Section Illustrations */
#market-illustrations { position: absolute; display: -ms-flexbox; display: flex; width: 1287px; left: 45%; margin-top:-100px; margin-left: -644px; transform: scale(.5) rotate(-12deg) translateX(50px); transform-origin: 50% 20%; overflow:hidden;}
#market-illustrations div { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 38px; background: #f3f3f3; box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, .25), 0 2px 6px rgba(0, 21, 64, .14), 0 10px 20px rgba(0, 21, 64, .05);}
#market-illustrations div img { width:94%; height:94%; border-radius:15px;}

/* Insight Event Sections */
.grid-section .grid-section-text { padding: 3rem}
.grid-section .grid-section-img { min-height: 30rem; background-size: cover}

@media (min-width:767.98px) {
    .grid-section .grid-section-text {
        padding: 7rem
    }
}

/* Content Section Styling */
.overlay {position: absolute;height: 100%;min-height: 35rem;width: 100%;background: url(https://plsadaptive.s3.amazonaws.com/gmedia/externalresizes/panopoly_image_original_2da5e9b4cb22de4816b83bc7e39b2ba7.jpg) center center scroll;background-size:cover;/* opacity: .75; */z-index: -1;}
.masthead {position: relative;overflow: hidden;padding-bottom: 3rem}
.masthead .masthead-bg {position: absolute;top: 0;bottom: 0;right: 0;left: 0;width: 100%;min-height: 35rem;height: 100%;background-color: rgba(8, 172, 241, 0.75);transform: skewY(4deg);transform-origin: bottom right}

@media (min-width:767.98px) {
    .masthead {
        height: 100%;
        min-height: 0;
        width: 40.5rem;
        padding-bottom: 0
    }
    .masthead .masthead-bg {
        min-height: 0;
        transform: skewX(-8deg);
        transform-origin: top right
    }
    .masthead .masthead-content {
        padding-left: 3rem;
        padding-right: 10rem
    }
    
}


/* Reach Page Navigation Styling */
.reach-tab .tab .nav-tabs {border-bottom:none;}
.reach-tab .tab .nav-tabs li{  width: 25%;  }
.reach-tab .tab .nav-tabs li a{text-transform: uppercase;border: none;transition: all 0.3s ease 0s; color:#3563c5;}
.reach-tab .tab .nav-tabs li a span{width: 50px;height: 50px;line-height: 50px;background: #f2f2f2;margin: auto;font-size: 22px;border-radius: 5px;top: 10px;left: 0;right: 0;transform: rotate(45deg);display: block;}
.reach-tab .tab .nav-tabs li a.active span{ background: #2cbaf1;  color: #fff; }
.reach-tab .tab .nav-tabs li a span i{ transform: rotate(-45deg); }
.reach-tab .tab .nav-tabs li a small {font-weight:600; display:inline-block; margin-top:20px;}
.reach-tab .tab .nav-tabs li.active a,.reach-tab .tab .nav-tabs li a:hover{color: #2cbaf1;}

@media (max-width: 768px) and (min-width: 300px) {
    .reach-tab .tab .nav-tabs li{width: 100%; }
    .reach-tab .tab .nav-tabs li a{padding:0 0;}
    .reach-tab .tab .nav-tabs li a.active small{ color: #2cbaf1; text-decoration:underline; }
}

/* Chart Styling */
.chart-legend li span { display: inline-block; width: 13px; height: 13px; margin-right: 10px; }
.chart-legend ul {padding-left: 10px;}
.chart-legend ul li { display:block; margin-bottom:4px;}


/* Event Section */
#event-filter button {background:transparent; border:none; color:#3b62b0; display:block; cursor:pointer;}
#event-filter button:hover { color:orange; }
#listings p.venue {white-space: normal;}
table#listings img.eventlogo { max-width: 30vh; max-height:30vh; }
table#listings .dtr-details {width:100%;}

/* Event Section Table Styling  */
table#listings .odd {background-color:#f9fbfb;}
#listings_filter{background-color:#3b62b0;padding:.7em .5em 0;color:#fff;border-top-left-radius:.5em;border-top-right-radius:.5em;/* width:75%; */display:block;float:right;position:relative;top:.4em;}
#listings_filter label input{color:#333;font-weight:normal;border-radius:0.4em;border: solid 1px #35589e;text-indent:5px;}
table#listings thead{color:#fff;background:#3b62b0; }
table#listings th{border: none;outline: none;}
table#listings .eventname{font-size:1.2em;font-weight:bold;}
#listings > tbody > tr > td, #listings > tbody > tr > th {vertical-align:middle;}

.btn-reset{display:block;clear:both;background-color:#3b62b0;color:#fff;padding:.8em 1em;margin:1em auto 0;border:0;position:absolute;border-top-left-radius:.5em;border-top-right-radius:.5em;z-index:9;transition:100ms linear; cursor:pointer;}


@media (max-width: 767.98px) and (min-width: 100px) {
         #listings_filter {width:100%; display:block; position:relative; top:5em; padding:1em 0 1em 0;} 
    .btn-reset{position:static;margin:0;width:100%;background:#253a63;border-radius:0;}
         table#listings thead {visibility: hidden;} 
    table#listings .datecol  {font-size:.9em; font-weight:bold; line-height:6px; padding-top:0px;}
    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {padding-left:0px;}
    
    .table td  {border-top:none;padding: 0 0 12.5px 0;}
    .table tbody tr {outline: 1px solid #d1d2d6 !important;}
    .logocol, .infocol, .datecol{display:block; text-align:center; width:100%;}
    .ctacol {display:none;}
}






@media (min-width:670px) {
    #market-illustrations {

        width: 512px;
        margin-left: 50px;
        top: 285px;
        transform: rotate(-12deg);
        transform-origin: 100% 0; 
    }

    #market-illustrations .whitepaper-1 {
        width: 512px;
        height: 412px;
    }

    #market-illustrations .whitepaper-2 {
    display: none;
    }

}

@media (min-width:880px) {
    #market-illustrations {
        width: 865px;
        margin-left: -10px;
        top: 50px;
    }
    #market-illustrations .whitepaper-1 {
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin-right: 50px;
    }
    #market-illustrations .whitepaper-2 {
        display: -ms-flexbox;
        display: flex;
        width: 303px;
        height: 553px;
    }

}

@media only screen and (max-width:767px){
   
    #market-illustrations { position: relative; height:220px;  display:none;  }
    
    /* Navigations */
    .inner-main-nav, .footer-desk-nav, .topnav-desktop{display:none;}
    footer {padding-top:170px !important;}

    
}





